.rTable { display: table; width: 100%; text-align:left;font-size:.9em;/*color:white;*/font-weight: bold;}
.rTableRow { display: table-row;height:45px;
  &.active{/*color:black;*/}
}
.rTableBody { display: table-row-group; }
.rTableCell { display: table-cell; padding: 3px 10px; }
.rTableHead { display: table-cell; padding: 3px 10px;font-weight: bold; font-size:1.1em; /*color:black;*/}
.rTableCell .lieu{font-size:.8em;color:gray;}

.rowz{display:flex;flex-direction:row;    justify-content: space-around;margin-bottom:20px;}
.rowz > div{flex: 1 1 0; flex-wrap: wrap;}

.rTableCell .fa-calendar-alt{display:none;}
.rTableHead .fa-calendar-alt, .rTableHead .fa-user, .rTableHead .fa-suitcase{ display: inline-block; margin-right: 5px;}

@media screen and (max-width:830px){
  .box4col{float:none;width:100%;}
  #footer{padding-top: 5px;}
  .rTable,.rTableCell, .rTableHead,.rTableRow {	display: block; }
  .rTableRow{border-bottom:1px solid lightgray;height:auto;padding:10px;}
  .rTableHead:nth-child(2), .rTableHead:nth-child(3) {display:none;}
  .rTableCell{padding-left:0;padding-right:0;margin-left:10px;}
  .rTableCell:nth-child(1){font-weight:bold;}
  .speci{background:#e8e8e8;}
  .rTableCell .fa-calendar-alt{ display: inline-block; margin-right: 5px;}
  .rTableHead .fa-calendar-alt, .rTableHead .fa-user, .rTableHead .fa-suitcase{ display: none;}
}