$primary-color: #A37;
/* color: $primary-color; */
html,
body {
  margin: 0;
  width: 100%;
  /*height: 100vh;*/
}

body {
  align-items: center;
  /*  background-image: linear-gradient(to right, #054f7d, #A9A9A9);*/
  background-size: cover;
  background-position: 0 0;
  display: flex;
  font-family: "Lato", Arial, sans-serif;
  height: 100%;
  justify-content: center;
  background-color: #054f7d;
  /* Animation
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-name: gradients;*/
}


@keyframes gradients {
  0% {
    background-color: #054f7d;
  }
  50% {
    background-color: #A9A9A9;
  }
  100% {
    background-color: #054f7d;
  }
}

h1 {
  color: white;
  font-family: 'Staatliches', cursive;
  font-size: 40px;
  letter-spacing: 3px;
  line-height: 35px;

  span {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: normal;
    display: block;
    color: #000;
    font-family: 'Open sans', sans-serif;
    text-transform: uppercase;
    margin-top: 15px;
    line-height: 25px;
  }
}

h2 {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.page-wrapper {
  width: 100%;
}

.section-titre {
  margin-bottom: 30px;
}

main, .main {
  width: 90%;
  padding: 0 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  height: 100vh;

  &__img {
    border-radius: 100px;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 7px solid white;
    box-shadow: 1px 1px 6px #000;
  }
}

.menu {
  display: none;
  width: 40px;
  margin-top: 50px;
  margin-left: auto;
}

.list {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  li {
    margin: 0;
    padding: 0;

    img {
      max-width: 260px;
      object-fit: cover;
      max-height: 150px;
    }
  }
}

.ullist {
  list-style: none;

  li {
    color: black;
    font-weight: 600;
    font-size: 14px;

    &:first-child {
      font-size: 18px;
      color: white;
      text-shadow: 1px 1px #000;
    }
  }
}

.contact {
  margin: 15px 0 0 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  li {
    margin: 15px 30px;
    padding: 0;
    @media all and (max-width: 576px){margin:30px 15px;}

    i {
      font-size: 40px;
    }

    a {
      &:hover {
        color: white;
      }
    }
  }
}

section {
  height: 100vh;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}

.section-parcours {
  background: white;
}

img[alt*="000webhost"], img[alt*="000webhost"][style], img[src*="000webhost"], img[src*="000webhost"][style], body > div:nth-last-of-type(1)[style] {
  opacity: 0 !important;
  pointer-events: none !important;
  width: 0px !important;
  height: 0px !important;
  visibility: hidden !important;
  display: none !important;
}


/*@import 'table.scss';*/